@mixin Flebox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  @include Flebox();
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/fundo.png");

  @media (max-width: 899px) {
    flex-direction: column;
    justify-content: space-between;
  }
}

.container {
  width: 80vw;
  flex-wrap: wrap;
  max-width: 900px;
  padding: 1rem 0 1rem 0;
  @include Flebox();
  justify-content: space-between;

  @media (max-width: 899px) {
    width: 70vw;
    justify-content: space-evenly;
  }
}
