@mixin Flebox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  height: 65vh;
  @include Flebox();
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/fundo.png");

  @media (max-width: 899px) {
    height: 110vh;
  }
}

.container {
  width: 80vw;
  flex-wrap: wrap;
  max-width: 900px;
  @include Flebox();
  justify-content: space-between;

  @media (max-width: 899px) {
    width: 70vw;
  }
}
