.card {
  //   border: solid;
  width: 30vw;
  padding: 1px;
  height: 270px;
  max-width: 200px;
  display: flex;
  margin-top: 2.5rem;
  align-items: center;
  border-radius: 15px;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #fff5de;

  img {
    bottom: 0px;
    width: 13vw;
    max-width: 150px;
    min-width: 140px;
    position: relative;
  }

  @media (max-width: 499px) {
    width: 100vw;
    max-width: 300px;

    img {
      bottom: 30px;
    }
  }

  @media (max-width: 899px) {
    margin-top: 5rem;
  }
}

.description {
  margin: 3px;
  font-weight: 300;
  text-align: center;

  button {
    top: 15px;
    width: 85%;
    height: 4vh;
    border: none;
    color: black;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    background-color: #ffbd48;
    &:hover {
      background-color: #ffad1f;
    }
  }

  .price {
    font-weight: 900;
  }
}
